[run]
source = py/qsopriority
omit =
   py/qsopriority/_version.py
   py/qsopriority/conftest*
   py/qsopriority/cython_version*
   py/qsopriority/setup_package*
   py/qsopriority/*/setup_package*
   py/qsopriority/*/*/setup_package*
   py/qsopriority/sphinx/*
   py/qsopriority/test/*
   py/qsopriority/*/test/*
   py/qsopriority/*/*/test/*

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   def main\(.*\):
